
ol,
ul{

list-style: none;

}

.c-nav {

position: absolute;
z-index: 50;
width: 100%;
background-color: whitesmoke;
box-shadow: 0 0 48px;

}

.nav-logo{

display: flex;
left: 0;
position: absolute;
width: 3em;


}

.c-nav_menuContainer{

z-index: 100;

}



.c-nav_menu{

display: flex;
justify-content: center;

}

.c-nav__menuItem,
li{

color:black;
display: list-item;
font-size: larger;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

.c-nav__menuItem__has_menu{

position: relative;

}

.c-nav_iconItem{

position: absolute;
display: flex;
z-index: 90;
top: 0;


}

.c-nav_Icon
{
position: absolute;

}

.o-page{

display: flex;
flex-direction: column;
min-height: 100vh;
background-color:gold;

}

.o-wrapper{
margin-top: 50px;
margin-left: auto;
margin-right: auto;
max-width: 80rem;
position: relative;
background-color: green;


}

.c-sectionHeader{

margin-bottom: 2rem;
max-width: 80%;
height: auto;
padding: 1em;
background-color:indianred;

}
.c-brandIntro{

display: block;
margin-left: 90px;
margin-bottom: 2rem;

}

.techSection{

display: grid;
grid-gap: 5rem;
grid-template-columns: repeat(8,1fr);
grid-template-rows: repeat(4,144px);   
padding-left: 2rem;
padding-right: 2rem;
background-color:brown;


}

.o-bodyBlock{

padding: 4em 0!important;
background-color:chartreuse;

}


.topicArticles{

max-width: 100%;

}


.topicGrid{

display: grid;
margin: 1.5rem;
gap: 1.5rem;
justify-content: space-around;
grid-template-columns: repeat(5,1fr);
grid-template-rows: 1fr;


}




.c-bodyBlock{

margin-left: auto;
margin-right: auto;
max-width: 80rem;
position: relative;
background-color:chocolate;

}

.c-bodyNews_heading{

text-align: left;
margin-bottom: 4rem !important;
flex: 1 1 0%;

}

.homepage-articles{
display: flex;
flex-direction: column;
margin: 0 0 1em;
background-color:crimson;

}

.articleGrid{

display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
grid-gap: 10px;
margin: -.25rem;
background-color:darkorchid;


}


.c-channel{

max-width: 100rem;
padding-left: 2rem;
padding-right: 2renm;
background-color:indigo;
}


.channels{

display: flex;
overflow-x: scroll;
scroll-snap-type: x mandatory;        
margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
background-color:cornflowerblue;

}


.newsletter{

background-size: cover;
background-attachment: fixed;
background-position: 50%;
background-color: black;
padding: 4em;
display: flex;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;

}

.c-announcement{

 display: flex;
 flex-direction: column;

}

.ctaHeading{

font-family: TNW Avalon, sans-serif;
font-weight: 500;
letter-spacing: -.025em;
line-height: 1;
text-transform: none;
text-align: center;
color:cornsilk;


}


.subHeading{

color:cornsilk;
}



.ctaField{

display: flex;
align-items: center;
margin-bottom: 1rem;
border-radius: .25rem;
box-shadow: 0 4px 24px;

}

.ctaInput{
position: relative;
display: block;
flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;
width: 100%;
padding-left: 0;
padding-right: 0;
border-radius: 0;


}


.T-bodyBlock{

display: flex;
flex-direction: column;
background-color:darkorchid;
padding-top: 7rem!important;
padding-bottom: 7rem!important;

}


.g-wrapper{

padding-left: 2rem;
padding-right: 2rem;
margin-right: auto;
max-width: 80rem;
position: relative;


}


.T-heading{

color:cornsilk;
text-align: left;

}


.T-showcaseVideo{

margin-left: 0;
margin-right: 0;
display: flex;


}


.T-media{

display: block;
position: relative;
overflow: hidden;

}

.mainStageHeader{

display: flex;
border-color:#24262c;
color:black;
--border-opacity:1;
border-top: 1px rgba(36,38,44,var(--border-opacity));
border-style: solid;


}

#videoStageTitle{

margin: 0;
font-size: 1.125rem;
font-family: Graphik, sans-serif;
text-transform: none;
line-height: 1.75;
font-weight: 500;
color:cornsilk;
background-color: #24262c;



}


.T-playList{

position: relative;
padding: 0;
width: calc(224px + 1.5rem);



}


.T-scroller{

display: flex;
overflow-x: scroll;
}


.playListItem{

color: black;
flex: 0 0 224px;


}

.playList-video{
display: block;
position: relative;
overflow: hidden;


}



.T-scrollerFade{


display: block;
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 20;
height: 2rem;



}


.partner{

padding: 6em 0 2em;
background-color:forestgreen;


}

.p-wrapper{

margin-left: auto;
margin-right: auto;
padding-left: 4rem;
padding-right: 4rem;
max-width: 80rem;
position: relative;

}


.p-grid{

display: flex;
flex-wrap: wrap;


}

.p-grid_col{

flex-grow: 0;
flex-shrink: 0;
border: 0 solid


}


.p-showcase_header{

width: 100%;
margin-bottom: 3rem;
padding-right: 0;


}

.p-sectionHeader{

text-align: left;
display: block;


}


.p-subHeading{

font-family: Shentox, sans-serif;
letter-spacing: .08em;
line-height: 1;
text-transform: uppercase;


}


.p-mainHeading{

text-align: left;
flex: 1 1 0%;
font-family: sans-serif;
font-weight: 500;
letter-spacing: -.025em;
line-height: 1;
text-transform: none;


}





.intro{

font-size: 1.125rem;
margin-top: 1.5rem;


}


.p-button--primary button{

display: inline-block;
position: relative;
cursor: pointer;
color:magenta;
user-select: none;
height: 3rem;
vertical-align: middle;
font-weight: 500;
text-align: center;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
border-style: none;
border-radius: .25rem;
transition-duration: .1s;
font-variant-ligatures: none;
font-size: 13px;
letter-spacing: 0.25em;
line-height: 48px;


}




.p-grid_colTwo{

flex-grow: 0;
flex-shrink: 0;
border: 0 solid;



}


.partnerGrid{

display: flex;
flex-wrap: wrap;
margin-bottom: 0;
        
}


.partnerTypeGrid{

display: flex;
align-items: center;
text-align: center;


}


.companies{


padding-left: 2rem;
padding-right: 2rem;
margin-left: auto;
margin-right: auto;
max-width: 80rem;
position: relative;

}




.companyGrid{

margin: -.25rem;
display: flex;
flex-wrap: wrap;
flex-grow: 0;
flex-shrink: 0;
border: 0 solid;
background-color:darkblue;


}


.companyLogo{

flex-basis: 12.5%;
max-width: 12.5%;




}




.footer{
z-index: 3;
padding: 4rem;
--bg-opacity: 1;
position: relative;
background-color: black;

}


.footWrapper{

margin-left: auto;
margin-right: auto;
padding-left: 2rem;
padding-right: 2rem;
max-width: 80rem;
position: relative;


}



.footerGrid{


display: flex;
margin: -.75rem;


}


.firstGrid{

border-width: .75rem;
float: left;
flex-grow: 0;
flex-shrink: 0;
border: 0 solid;


}

.logoContact{

display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;

}



.footer_logo{

display: block;
width: 10rem;
margin-bottom: 1rem;

}


.footer_tagLine{

display: inline-block;       
margin-bottom: 2rem;
font-size: 1.5rem;
color:cornsilk;
}


.footer,
.footer_item{

display: flex;
margin-bottom: .5rem;

}



.secondGrid{

padding-left: 0;

}


.footer_heading{

margin-bottom: .5rem;
font-size: 1.5rem;
color: cornsilk;

}


.footer_menu{

float: right;

}


.footer_link{

color: #0cc;
text-decoration: none;

}



.thirdGrid{


        flex-basis: 25%;
        max-width: 25%;

}


@media (min-width: 1024px){

.c-nav{

position: sticky;
top: 2rem;
height: 3rem;

}


.c-nav_iconItem{

right: 0;

}



.c-showcase_header{

display: flex;
align-items: center;
padding: 2%;
width: 80%;


}


.c-sectionHeader{

width: 90%;

}




.techArticle1{

display: grid;        
grid-column: 1/5;
grid-row: 1/span 3;


}


.techArticle2{
display: grid;
grid-column: 5/7;
grid-row: 2/span 2;

}

.techArticle3{

grid-column: 1/5;
grid-row: 4/span 2;
display: block;

}


.techArticle4{

grid-column: 7/9;
grid-row: 1/span 2;


}


.techArticle5{

grid-column: 5/9;
grid-row: 3/span 3;



}



.o-bodyBlock{

padding-top: 7rem!important;
padding-bottom: 7rem!important;


}


.popularTopics{

margin-bottom: 4rem!important;


}


.topicGrid{

grid-template-columns: repeat(5,1fr);
grid-template-rows: 1fr;


}


.c-bodyBlock{

margin-left: auto;
margin-right: auto;
max-width: 80rem;
position: relative;
background-color:chocolate;
    
}
    

.p-grid{

margin: -.75rem;


}

.p-mainHeading{

margin-bottom: 4rem!important;


}


.firstGrid{

flex-basis: 50%;
max-width: 50%;

}


.secondGrid{

flex-basis: 25%;
max-width: 25%;

}


.thirdGrid{

flex-basis: 25%;
max-width: 25%;


}



}






@media (min-width: 768px){

.c-nav_iconItem{

right: 0;
    
}


.o-wrapper{

padding-left: 4rem;
padding-right: 4rem;

}

.techArticle1{

grid-column: 1/span 2;
grid-row: 1/span 2;

}

.techArticle2{

grid-column: 1;
grid-row: 3;


}

.techArticle3{

grid-column: 2;
grid-row: 3;
display: block;

}

.techArticle4{

grid-column: 1;
grid-row: 4;


}



.techArticle5{

grid-column: 2;
grid-row: 4;


}



.o-bodyBlock{

padding-top: 6rem!important;
padding-bottom: 6rem!important;
    
    
}


.popularTopics{

margin-bottom: 3rem!important;
font-size: 2.5rem!important;


}


.topicArticles{

padding: 0 3em;


}


.topicGrid{

display: grid;



}


.articleGrid{

display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
grid-gap: 0px;
margin: -.25rem;
background-color:darkorchid;
        
        
        }


.o-gridItem{

flex-basis: 50%;
max-width: 50%;

}




.mainStage{

flex-grow: 1;
                
                
}


.T-scroller{

position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 10;
flex-direction: column;
overflow-x: auto;
overflow-y: scroll;
        
}


.playListItem{

padding: 0 0 1.5rem 1.5rem;
flex: 0 0 1.5rem 1.5rem;
min-width: 224px;
        
        
}




.p-grid{

margin: .5rem;

}

.p-mainHeading{

        margin-bottom: 3rem!important;
        font-size: 2.5rem!important;
        
        
        }


.p-grid_colTwo{

flex-basis: 50%;
max-width: 50%;
                              
}

.partnerGrid{

display: flex;
flex-wrap: wrap;
margin-bottom: 0;

}

.partnerTypeGrid{

display: flex;
align-items: center;
text-align: center;
flex-direction: row;
        
        
        }


}