
ol,
ul{

list-style: none;

}

.c-nav {

position: absolute;
z-index: 50;
width: 100%;
background-color: whitesmoke;
box-shadow: 0 0 48px;

}

.nav-logo{

display: flex;
left: 0;
position: absolute;
width: 3em;


}

.c-nav_menuContainer{

z-index: 100;

}



.c-nav_menu{

display: flex;
justify-content: center;

}

.c-nav__menuItem,
li{

color:black;
display: list-item;
font-size: larger;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

.c-nav__menuItem__has_menu{

position: relative;

}

.c-nav_iconItem{

position: absolute;
display: flex;
z-index: 90;
top: 0;


}

.c-nav_Icon
{
position: absolute;

}

.o-page{

display: flex;
flex-direction: column;
min-height: 100vh;
background-color:gold;

}

.o-wrapper{
margin-top: 50px;
margin-left: auto;
margin-right: auto;
max-width: 80rem;
position: relative;
background-color: green;


}

.c-sectionHeader{

margin-bottom: 2rem;
max-width: 80%;
height: auto;
padding: 1em;
background-color:indianred;

}
.c-brandIntro{

display: block;
margin-left: 50px;
margin-top: 3%;
margin-bottom: 2rem;
font-size: 32px;

}

.techSection{

display: grid;
grid-gap: 5rem;
grid-template-columns: repeat(8,1fr);
grid-template-rows: repeat(4,144px);   
padding-left: 2rem;
padding-right: 2rem;
background-color:brown;


}

.o-bodyBlock{

padding: 4em 0!important;
background-color:chartreuse;

}

.c-bodyBlock{

margin-left: auto;
margin-right: auto;
max-width: 80rem;
position: relative;
background-color:chocolate;

}

.c-bodyNews_heading{

text-align: left;
margin-bottom: 4rem !important;
flex: 1 1 0%;

}

.homepage-articles{
display: flex;
flex-direction: column;
margin: 0 0 1em;
background-color:crimson;

}

.articleGrid{

display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
grid-gap: 10px;
margin: -.25rem;
background-color:darkorchid;


}


.c-channel{

max-width: 100rem;
padding-left: 2rem;
padding-right: 2renm;
background-color:indigo;
}


.channels{

display: flex;
overflow-x: scroll;
scroll-snap-type: x mandatory;        
margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
background-color:cornflowerblue;

}


.newsletter{

background-size: cover;
background-attachment: fixed;
background-position: 50%;
background-color: black;
padding: 4em;
display: flex;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;

}

.c-announcement{

 display: flex;
 flex-direction: column;

}

.ctaHeading{

font-family: TNW Avalon, sans-serif;
font-weight: 500;
letter-spacing: -.025em;
line-height: 1;
text-transform: none;
text-align: center;
color:cornsilk;


}


.subHeading{

color:cornsilk;
}



.ctaField{

display: flex;
align-items: center;
margin-bottom: 1rem;
border-radius: .25rem;
box-shadow: 0 4px 24px;

}

.ctaInput{
position: relative;
display: block;
flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;
width: 100%;
padding-left: 0;
padding-right: 0;
border-radius: 0;


}


.T-bodyBlock{

display: flex;
flex-direction: column;
background-color:darkorchid;
padding-top: 7rem!important;
padding-bottom: 7rem!important;

}


.g-wrapper{

padding-left: 2rem;
padding-right: 2rem;;


}


.T-heading{

color:cornsilk;

}


.T-showcaseVideo{

margin-left: 0;
margin-right: 0;
display: flex;


}




@media (min-width: 1024px){

.c-nav{

position: sticky;
top: 2rem;
height: 3rem;

}


.c-nav_iconItem{

right: 0;

}



.c-showcase_header{

display: flex;
align-items: center;
padding: 2%;
width: 80%;


}

.c-brandIntro{

display: block;
margin-top: 3%;
margin-bottom: 2rem;
font-size: 32px;

}



.o-bodyBlock{

padding-top: 7rem!important;
padding-bottom: 7rem!important;


}

.c-bodyBlock{

margin-left: auto;
margin-right: auto;
max-width: 80rem;
position: relative;
background-color:chocolate;
    
}
    





}






@media (min-width: 768px){

.c-nav_iconItem{

right: 0;
    
}


.o-wrapper{

padding-left: 4rem;
padding-right: 4rem;

}
.o-bodyBlock{

padding-top: 6rem!important;
padding-bottom: 6rem!important;
    
    
}

.articleGrid{

display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 0px;
        margin: -.25rem;
        background-color:darkorchid;
        
        
        }




}